*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    background-color: #fff;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: #212121;
    color: #fff;

}
.head{
    height: 60px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head button{
    padding: 6px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rebeccapurple;
    border: none;
}
.head button:active{
    padding: 7px;
    font-size: 16px;
}
.content{
    padding: 10px;

}
